.App {
    margin-top: 20px;
}

.movies {
    text-align: center;
    width: 400px;
    margin-top: -40px;
    padding: 40px 20px 40px 20px;
}

.movies-ul {
    text-align: center;
    width: 400px;
    padding: 40px 20px 40px 20px;
}

.btn-primary {
    background-color: #0275d8;
    color: #f7f7f7;
    border-radius: 10px;
    margin-left: 5px;
}